.heading-1 {
    color: $color-white;
    font-size: 4.3rem;
    font-weight: 500;
    transition: all .3s;
    &--secundary {
        color: black;
    }
    &:hover {
        transform: translateY(-1rem);
    }
}
.heading-2 {
    color:$color-grey;
    font-size: 2rem;
    font-weight: 600;
}

